/*--- ESTILOS GENERALES ---*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*--- RESETEO ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*--- MARGIN SEPARA DOS ELEMENTOS E/ SI, DEJA UN ESPACIO. PARA DISTRIBUIR USAMOS FLEXBOX ---*/
/*--- PADDING SEPARA EL CONTENIDO DE LA CAJA DEL BORDE DE LA CAJA ---*/
/*--- UNICAS DOS PROPIEDADES POSIBLES DE APLICAR AL BODY ---*/
body {
  background-color: #f7e3ca;
  font-family: 'Poppins', sans-serif; }

/*--- Las variables son un espacio reservado de memoria para almacenar datos. Se declaran utilizando el signo $nombre: valorasignado;
Ejemplo $color-fondo: #f7e3ca;
Luego nosotros llamamos a la variable en cada documento y momento que se utilice, en vez de llamar al color cada vez. Asi se realizan
modificaciones masivas en los proyectos 
Las listas agrupan varios valores de la misma categoria separados por una coma 
Los mapas permiten agrupar propiedades. Dentro siempre hay un juego de pares, siempre hay que llamar a una KEY y a un VALUE 
font-size: 1.4rem;
text-shadow: 1px 1px 1px #000000; ---*/
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe4c4;
  position: sticky;
  margin: 0px;
  z-index: 1;
  height: 10vh;
  width: 100%; }
  header a img {
    height: 50px;
    width: auto;
    margin: 0px 40px; }
  header nav {
    background-color: #ffe4c4;
    padding: 10px;
    display: flex;
    align-items: flex-end; }
    header nav ul {
      margin: 0px;
      padding-right: 30px;
      display: flex;
      align-items: flex-end;
      list-style-type: none;
      text-align: right; }
      header nav ul li {
        margin: 0px 15px; }
        header nav ul li a {
          text-decoration: none;
          color: #cc262a;
          font-size: 1.3rem;
          font-weight: bold; }

/*--- INDEX ---*/
/*--- Pseudo Elemento aplicado en h1 ---*/
h1::first-letter {
  font-size: 45px;
  color: #670a0ace; }

h1 {
  margin-bottom: 0px;
  color: #b01010ce;
  padding: 2px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700; }

h1 span {
  font-size: 40px;
  color: #670a0ace; }

.mainImage {
  background-image: url("../img/index-fondo.jpg");
  height: 800px;
  width: auto;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px; }

.sinopsisAnime {
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .sinopsisAnime div {
    width: 500px; }
    .sinopsisAnime div h2 {
      color: #bb1518;
      font-size: 2rem;
      text-align: center; }
    .sinopsisAnime div p {
      color: #e10e0e;
      padding: 5px 20px;
      font-size: 1.5rem;
      font-weight: 200;
      text-align: center; }
      .sinopsisAnime div p span {
        font-weight: 500; }
  .sinopsisAnime .sinopsisVideo {
    margin: 10px;
    display: flex;
    flex-wrap: wrap; }

.infoPrincipal {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .infoPrincipal .teamInuyasha {
    background-color: #cc262a;
    padding: 10px;
    /*--- KEYFRAME ---*/ }
    .infoPrincipal .teamInuyasha h3 {
      color: #ffffff;
      font-size: 1.5rem;
      text-align: center;
      margin: 10px;
      /*--- ANIMACIONES ---*/
      animation-name: teamtitulo;
      animation-duration: 4s;
      animation-timing-function: ease-in-out;
      animation-delay: 1s; }

@keyframes teamtitulo {
  from {
    margin-right: 100%;
    width: 300%; }
  to {
    margin-right: 0;
    width: 100%; } }
    .infoPrincipal .teamInuyasha .imgTeamInuyasha {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .infoPrincipal .teamInuyasha .imgTeamInuyasha img {
        height: 200px;
        width: 200px;
        padding: 5px;
        margin: 0px 10px; }
      .infoPrincipal .teamInuyasha .imgTeamInuyasha h4 {
        color: #ffffff;
        font-size: 1.5rem;
        text-align: center; }

/*--- CAPITULOS ---*/
/*--- Aplicar pseudoclass div:nth-clid(4 o odd o even o 3n){} ---*/
.temporadas h2 {
  color: #bb1518;
  padding: 2px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700; }

.temporadas .temporadasTodas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .temporadas .temporadasTodas div {
    border: 2px solid #4e0606;
    width: 350px;
    height: 300px;
    margin: 15px;
    padding: 10px;
    text-align: center; }
    .temporadas .temporadasTodas div a {
      text-decoration: none;
      color: #bb1518;
      margin: 10px;
      padding: 8px;
      font-size: 1.3rem;
      font-weight: bold; }
    .temporadas .temporadasTodas div p {
      text-decoration: none;
      color: #000000;
      margin: 5px;
      padding: 5px;
      font-size: 1rem;
      font-weight: bold; }
    .temporadas .temporadasTodas div img {
      width: 300px;
      height: 200px;
      margin-top: 10px; }

/*--- GALERIA ---*/
.galeriaContainer {
  width: 100%;
  margin: 5px;
  padding: 0px;
  /*--- HABILITAR GRILLAS ---*/
  display: grid;
  /*--- DECLARAR FILAS 
    UNA FORMA: grid-template-rows: 400px 400px 400px;---*/
  grid-auto-rows: 400px;
  /*--- DECLARAR COLUMNAS CON FRACCIONES. USAR SHORTCUTS ---*/
  grid-template-columns: repeat(3, 1fr);
  /*--- GAP P/ GENERAR ESPACIOS     
    column-gap: 15px;
    row-gap: 15px; ---*/
  gap: 3px;
  /* CONCEPTO DE LINEAS
    grid-row-star: 1;
    grid-row-end: 3;
    grid-row: 1 / 3;
    grid-row: span 3; */ }
  .galeriaContainer .galeriaImg img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .galeriaContainer .galeria01 {
    grid-row: span 2; }
  .galeriaContainer .galeria02 {
    grid-column: span 2; }
  .galeriaContainer .galeria04 {
    grid-row: span 2; }
  .galeriaContainer .galeria05 {
    grid-column: span 2; }
  .galeriaContainer .galeria09 {
    grid-column: span 3; }

/*--- PERSONAJES: Como utilizo bootstrap no tengo que anidar en scss ---*/
/*--- OPINIONES ---*/
.curiosidadYokai {
  color: #cc262a;
  padding: 10px 30px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300; }
  .curiosidadYokai h3 {
    text-shadow: 1px 1px 1px #000000; }

.opinionesParrafo p {
  background-color: #f6e9e9e5;
  color: #cc262a;
  margin: 20px;
  padding: 5px 20px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400; }

form {
  margin: 20px;
  padding: 10px;
  font-weight: bold;
  color: #b01010ce; }
  form .fansForm {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #f6e9e9e5; }
    form .fansForm .fansDatos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-around; }
      form .fansForm .fansDatos h3 {
        margin: 5px;
        font-size: 1.4rem;
        text-shadow: 1px 1px 1px #000000; }
      form .fansForm .fansDatos div {
        padding: 10px; }
        form .fansForm .fansDatos div input {
          outline: none; }
        form .fansForm .fansDatos div input:focus {
          border: 2px solid #6d0b0b;
          border-radius: 5px; }
    form .fansForm .fansEnviar input {
      margin: 10px;
      padding: 3px; }

.teamCompleto {
  display: flex;
  justify-content: center;
  align-items: center; }
  .teamCompleto img {
    height: 200px;
    width: 850px; }

footer {
  padding: 20px;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer div a img {
    padding: 10px;
    margin: 0px 10px;
    height: 60px;
    width: 60px;
    transition: all 300ms;
    position: relative; }
  footer div a img:hover {
    transform: scale(1.2); }

/*--- Puede suceder que al pasar las mediaquery algunas no funcionen porque al utilizar la sintaxis de SASS se aumenta en gran medida
la especificidad para aplicar propiedades a los elementos. Entonces hay que llamar a los elementos exactamente igual a como se compilo
Hay que hacer el recorrido exacto a como se compilo ---*/
@media screen and (max-width: 1110px) {
  header {
    height: 10vh; }
  .mainImage {
    height: 600px; }
  .sinopsisAnime div {
    width: 500px;
    height: 350px;
    margin-bottom: 10px; }
  .sinopsisAnime h2 {
    font-size: 0.6rem; }
  .sinopsisAnime p {
    padding: 5px 15px;
    font-size: 0.2rem;
    font-weight: 100; }
  .galeriaContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px; }
  .galeriaImg {
    grid-column: span 1;
    grid-row: span 1; }
  .galeria09 {
    grid-column: span 2; } }

@media screen and (max-width: 1000px) {
  .mainImage {
    height: 500px; }
  .sinopsisAnime p {
    margin-top: 0px;
    padding: 5px 10px; }
  .sinopsisVideo iframe {
    width: 450px; }
  .galeriaContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px; }
  .galeriaImg {
    grid-column: span 1;
    grid-row: span 1; }
  .galeria02 {
    grid-column: span 2; }
  .galeria08 {
    grid-row-start: span 4; }
  .galeria09 {
    grid-column: span 2; } }

@media screen and (max-width: 870px) {
  header {
    background-color: #f3d6b3;
    flex-direction: column;
    height: 15vh; }
  .menuNav {
    background-color: #f3d6b3;
    padding: 2px; }
  .mainImage {
    height: 400px; }
  .sinopsisAnime {
    height: 90vh;
    flex-direction: column; }
  .sinopsisAnime div {
    width: 100%;
    height: 35vh;
    margin-top: 10px; }
  .sinopsisAnime h2 {
    font-size: 0.2rem; }
  .sinopsisAnime p {
    padding: 2px;
    font-weight: 50; }
  .sinopsisVideo iframe {
    width: 450; } }

@media screen and (max-width: 800px) {
  .mainImage {
    height: 300px; }
  .galeriaContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px; }
  .galeriaImg {
    grid-column: span 1;
    grid-row: span 1; }
  .galeria02 {
    grid-column: span 2; }
  .galeria09 {
    grid-column: span 2; } }

@media screen and (max-width: 650px) {
  .menuNav ul {
    padding: 0px; }
  .mainImage {
    margin-bottom: 5px; }
  .sinopsisAnime div {
    height: 40vh; } }

@media screen and (max-width: 570px) {
  header {
    height: 13vh; }
  .menuNav ul li a {
    font-size: 1rem; }
  .mainImage {
    height: 200px; }
  .sinopsisAnime div {
    margin: 0px;
    padding: 5px;
    height: 35vh; }
    .sinopsisAnime div h2 {
      font-size: 1.7rem; }
    .sinopsisAnime div p {
      font-size: 1.2rem; }
  .galeriaContainer {
    grid-template-columns: 1fr;
    grid-auto-rows: 250px; }
  .galeriaImg {
    grid-column: span 1;
    grid-row: span 1;
    width: 100%; } }

@media screen and (max-width: 470px) {
  .menuNav ul li a {
    font-size: 0.8rem; }
  .sinopsisAnime {
    height: 80vh; }
    .sinopsisAnime div {
      height: 40vh; }
      .sinopsisAnime div p {
        padding: 0px; }
  .sinopsisVideo iframe {
    width: 350px;
    height: 200px; }
  .teamCompleto img {
    height: 150px;
    width: 400px; } }

@media screen and (max-width: 400px) {
  header {
    height: 10vh; }
    header a img {
      height: 40px;
      margin: 0px 10px; }
    header nav ul {
      padding-right: 0px; }
      header nav ul li {
        margin: 0px 5px; } }
