/*--- ESTILOS GENERALES ---*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*--- RESETEO ---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--- MARGIN SEPARA DOS ELEMENTOS E/ SI, DEJA UN ESPACIO. PARA DISTRIBUIR USAMOS FLEXBOX ---*/
/*--- PADDING SEPARA EL CONTENIDO DE LA CAJA DEL BORDE DE LA CAJA ---*/
/*--- UNICAS DOS PROPIEDADES POSIBLES DE APLICAR AL BODY ---*/

body {
    background-color: #f7e3ca;
    font-family: 'Poppins', sans-serif;
}