/*--- Puede suceder que al pasar las mediaquery algunas no funcionen porque al utilizar la sintaxis de SASS se aumenta en gran medida
la especificidad para aplicar propiedades a los elementos. Entonces hay que llamar a los elementos exactamente igual a como se compilo
Hay que hacer el recorrido exacto a como se compilo ---*/

@media screen and (max-width: 1110px) {
    header {
        height: 10vh;
    }

    .mainImage {
        height: 600px;
    }

    .sinopsisAnime div {
        width: 500px;
        height: 350px;
        margin-bottom: 10px;
    }

    .sinopsisAnime h2 {
        font-size: 0.6rem;
    }

    .sinopsisAnime p {
        padding: 5px 15px;
        font-size: 0.2rem;
        font-weight: 100;
    }

    .galeriaContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px;
    }

    .galeriaImg {
        grid-column: span 1;
        grid-row: span 1;
    }

    .galeria09 {
        grid-column: span 2;
    }
}

@media screen and (max-width: 1000px) {
    .mainImage {
        height: 500px;
    }

    .sinopsisAnime p {
        margin-top: 0px;
        padding: 5px 10px;
    }

    .sinopsisVideo iframe {
        width: 450px;
    }

    .galeriaContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
    }

    .galeriaImg {
        grid-column: span 1;
        grid-row: span 1;
    }

    .galeria02 {
        grid-column: span 2;
    }

    .galeria08 {
        grid-row-start: span 4;
    }

    .galeria09 {
        grid-column: span 2;
    }
}

@media screen and (max-width: 870px) {
    header {
        background-color: #f3d6b3;
        flex-direction: column;
        height: 15vh;
    }

    .menuNav {
        background-color: #f3d6b3;
        padding: 2px;
    }

    .mainImage {
        height: 400px;
    }

    .sinopsisAnime {
        height: 90vh;
        flex-direction: column;
    }

    .sinopsisAnime div {
        width: 100%;
        height: 35vh;
        margin-top: 10px;
    }

    .sinopsisAnime h2 {
        font-size: 0.2rem;
    }

    .sinopsisAnime p {
        padding: 2px;
        font-weight: 50;
    }

    .sinopsisVideo iframe {
        width: 450;
    }
}

@media screen and (max-width: 800px) {
    .mainImage {
        height: 300px;
    }

    .galeriaContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
    }

    .galeriaImg {
        grid-column: span 1;
        grid-row: span 1;
    }

    .galeria02 {
        grid-column: span 2;
    }

    .galeria09 {
        grid-column: span 2;
    }
}

@media screen and (max-width: 650px) {
    .menuNav ul {
        padding: 0px;
    }

    .mainImage {
        margin-bottom: 5px;
    }

    .sinopsisAnime div {
        height: 40vh;
    }
}

@media screen and (max-width: 570px) {
    header {
        height: 13vh;
    }

    .menuNav ul li a {
        font-size: 1rem;
    }

    .mainImage {
        height: 200px;
    }

    .sinopsisAnime div {
        margin: 0px;
        padding: 5px;
        height: 35vh;

        h2 {
            font-size: 1.7rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .galeriaContainer {
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
    }

    .galeriaImg {
        grid-column: span 1;
        grid-row: span 1;
        width: 100%;
    }
}

@media screen and (max-width: 470px) {
    .menuNav ul li a {
        font-size: 0.8rem;
    }

    .sinopsisAnime {
        height: 80vh;

        div {
            height: 40vh;

            p {
                padding: 0px;
            }
        }
    }

    .sinopsisVideo iframe {
        width: 350px;
        height: 200px;
    }

    .teamCompleto {
        img {
            height: 150px;
            width: 400px;
        }
    }
}

@media screen and (max-width: 400px) {
    header {
        height: 10vh;

        a {
            img {
                height: 40px;
                margin: 0px 10px;
            }
        }

        nav {
            ul {
                padding-right: 0px;

                li {
                    margin: 0px 5px;
                }
            }
        }
    }
}