/*--- ESTILOS GENERALES ---*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*--- RESETEO ---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- MARGIN SEPARA DOS ELEMENTOS E/ SI, DEJA UN ESPACIO. PARA DISTRIBUIR USAMOS FLEXBOX ---*/
/*--- PADDING SEPARA EL CONTENIDO DE LA CAJA DEL BORDE DE LA CAJA ---*/
/*--- UNICAS DOS PROPIEDADES POSIBLES DE APLICAR AL BODY ---*/

body {
    background-color: #f7e3ca;
    font-family: 'Poppins', sans-serif;
}

/*--- HEADER ---*/

header {
    /*--- Con esta propiedad hacemos al contenedor flexible ---*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe4c4;
    position: sticky;
    top: 0px;
    z-index: 1;
    height: 12vh;
    width: 100%;
}

/*--- PENSAR SI USAR O NO LA POSICION STICKY PARA LA IMAGEN O SOLO PARA EL NAV ---*/

header img {
    height: 65px;
    width: auto;
    margin: 0px 30px;
}

.menuNav {
    background-color: #ffe4c4;
    padding: 20px;
    display: flex;
    align-items: flex-end;
}

.menuNav ul {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    text-align: right;
}

.menuNav ul li {
    margin: 0px 10px;
}

.menuNav ul li a {
    text-decoration: none;
    color: #cc262a;
    font-size: 1.3rem;
    font-weight: bold;
}

/*--- Pensar si uso o no el h1. Por ahora, no. 
h1 {
    color: #6b0608;
    font-size: 4rem;
    text-align: center;
}
---*/

/*--- MAIN ---*/

/*--- INDEX ---*/

.mainImage {
    background-image: url("../img/index-fondo.jpg");
    height: 800px;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.sinopsisAnime {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sinopsisAnime div {
    width: 700px;
}

h2 {
    color: #bb1518;
    font-size: 2rem;
    text-align: center;
}

.sinopsisAnime p {
    color: #e30e0e;
    padding: 10px 30px;
    font-size: 1.5rem;
    font-weight: 200;
}

.sinopsisAnime article {
    margin: 20px;
}

.infoPrincipal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.TeamInuyasha {
    background-color: #cc262a;
    padding: 10px;
}

.TeamInuyasha h3 {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
}

.imgTeamInuyasha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.imgTeamInuyasha img {
    height: 200px;
    width: 200px;
    padding: 5px;
    margin: 0px 10px;
}

/*--- PAGE CAPITULOS ---*/

.temporadas div {
    border: 2px solid #4e0606;
    width: 320px;
    height: 400px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    /*-- APLICAR FLEXBOX O BOOTSTRAP 
    display: flex;
    flex-wrap: wrap;
    -- */
}

.temporadas div a {
    text-decoration: none;
    color: #bb1518;
    margin: 10px;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    border: 2px solid #070707;
    display: inline-block;
}

.temporadas div p {
    text-decoration: none;
    color: #000000;
    margin: 5px;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
}

.temporadas div img {
    width: 300px;
    height: 200px;
}

/*--- PAGE GALERIA ---*/

.galeriaContainer {
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    /*--- HABILITAR GRILLAS ---*/
    display: grid;
    /*--- DECLARAR FILAS 
    UNA FORMA: grid-template-rows: 400px 400px 400px;---*/
    grid-auto-rows: 400px;
    /*--- DECLARAR COLUMNAS CON FRACCIONES. USAR SHORTCUTS ---*/
    grid-template-columns: repeat(3, 1fr);
    /*--- GAP P/ GENERAR ESPACIOS     
    column-gap: 15px;
    row-gap: 15px; ---*/
    gap: 3px;

}

.galeriaContainer div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONCEPTO DE LINEAS
    grid-row-star: 1;
    grid-row-end: 3;
    grid-row: 1 / 3;
    grid-row: span 3; */

.galeria01 {
    grid-row: span 2;
}

.galeria02 {
    grid-column: span 2;
}

.galeria04 {
    grid-row: span 2;
}

.galeria05 {
    grid-column: span 2;
}

.galeria09 {
    grid-column: span 3;
}

/*--- PAGE OPINIONES ---*/
/*-- APLICAR FLEXBOX O BOOTSTRAP 
display: flex;
flex-wrap: wrap;
-- */

.opinionesParrafo p {
    color: #cc262a;
    padding: 10px 30px;
    font-size: 1.5rem;
    font-weight: 300;
}

.opinionesParrafo form fieldset {
    padding: 30px;
}

.TeamCompleto {
    display: flex;
    justify-content: center;
}

.TeamCompleto img {
    height: 200px;
    width: 850px;
}

/*--- FOOTER ---*/

footer {
    padding: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div a img {
    padding: 10px;
    margin: 0px 10px;
    height: 60px;
    width: 60px;
}

/*--- MEDIA QUERY ---*/
@media screen and (max-width: 1110px) {
    header {
        height: 15vh;
    }

    .mainImage {
        height: 600px;
        width: 100%;
    }

    .sinopsisAnime div {
        width: 450px;
        height: 300px;
    }

    .sinopsisAnime h2 {
        font-size: 1.5rem;
    }

    .sinopsisAnime p {
        padding: 5px 15px;
        font-size: 1.3rem;
    }

    .galeriaContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px;
    }

    .galeriaImg {
        grid-column: span 1;
        grid-row: span 1;
    }

    .galeria09 {
        grid-column: span 2;
    }
}

@media screen and (max-width: 1000px) {
    .sinopsisAnime p {
        margin-top: 0px;
        padding: 5px 10px;
        font-size: 1.2rem;
    }

    .galeriaContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
    }

    .galeriaImg {
        grid-column: span 1;
        grid-row: span 1;
    }

    .galeria02 {
        grid-column: span 2;
    }

    .galeria08 {
        grid-row-start: span 4;
    }

    .galeria09 {
        grid-column: span 2;
    }
}

@media screen and (max-width: 870px) {
    header {
        background-color: #f3d6b3;
        flex-direction: column;
        height: 18vh;
    }

    .menuNav {
        background-color: #f3d6b3;
        padding: 2px;
    }

    .sinopsisAnime div {
        width: 260px;
    }

    .sinopsisAnime h2 {
        font-size: 1.2rem;
    }

    .sinopsisAnime p {
        padding: 2px 5px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .sinopsisAnime {
        flex-direction: column;
        height: 70vh;
    }

    .sinopsisAnime div {
        margin-top: 20px;
        width: 550px;
        height: 150px;
    }

    .sinopsisVideo {
        width: 100%; 
    }
    
    .galeriaContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
    }

    .galeriaImg {
        grid-column: span 1;
        grid-row: span 1;
    }

    .galeria02 {
        grid-column: span 2;
    }

    .galeria09 {
        grid-column: span 2;
    }
}

@media screen and (max-width: 570px) {
    header {
        height: 20vh;
    }

    .menuNav ul li a {
        font-size: 1rem;
    }

    .galeriaContainer {
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
    }

    .galeriaImg {
        grid-column: span 1;
        grid-row: span 1;
        width: 100%;
    }
}

@media screen and (max-width: 470px) {
    .menuNav ul li a {
        font-size: 0.8rem;
    }
}